// TODO
.posts {
  max-width: 720px;


  div {
    display: flex;
  }
  a {
    display: block;
    margin-top: 1.5rem;
    > p {
      color: var(--dark-grey);
      margin: 0.5rem 0 1.5rem 0;
    }
    strong {
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 1.8rem
    }
  }
}

.info {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  align-items: center;
  color: var(--dark-grey);
  margin-right: 2.5rem;
  svg {
    margin-right: 0.625rem;
  }
}

.carregarPosts {
  display: block;
  color: var(--pink)
}
